* {
 margin: 0;
 padding: 0;
 background-color: #1D75DE;
 font-family: 'Inter', sans-serif;
}

/******** HEADER **********/

.header {
 height: 30%;
 width: 100%;
 padding-top: 150px;
}

.header h1 {
 color: #fff;
 font-weight: 600;
}

.header img {
 padding-bottom: 50px;
}

hr {
 border: 0;
 clear:both;
 display:block;
 width: 75%;               
 background-color: #fff;
 height: 1px;
}

/******** Header End **********/

/******** Enter Courses **********/

#main-section {
  width: 100%;
  padding-top: 50px;
  padding-left: 200px;
  background-color: #1D75DE;

}

#main-section h2 {
 padding-bottom: 20px;
}

#courseEntriesContainer {
 max-height: 300px;
 margin-top: 25px;
 margin-bottom: 250px;
 width: 250px;
}

#courseEntries {
 height: 100%;
 width: 100%;
}

#clearCourses {
 display: none;
}


/******** Enter Courses End **********/


/******** Eligble Courses **********/

#generate {
  height: 40%;
  width: 100%;
  padding-top: 550px;
  padding-bottom: 150px;
  background-color: #1D75DE;
}

#generateCourses {
 width: 150px;
 margin-bottom: 90px;
}

#eligbleCoursesTableContainer {
 max-height: 500px;
 width: 80%;
 margin-bottom: 100px;
}

#filterButton {
 margin-bottom: 10px;
 width: 100px;
}

/******** Elegible Courses End **********/

@media (max-width: 700px) {
    #enter-input {
      flex-direction: column;
    }

    #courseInput {
      width: 100%;
    }

    .steps {
      font-size: 20px;
    }

    #main-section {
     align-items: center;
     padding-left: 50px;
     padding-right: 50px;
    }

    #courseEntriesContainer {
     margin-top: 50px;
     width: 150px;
    }

    #eligbleCoursesTableContainer {
     width: 150px;
    }

    #filterButton {
     width: 75px;
    }
}



@media (max-width: 200px) {
    #main-section {
     padding-left: 0px;
    }

   .courseEntries {
    width: 100%:
   }

}
