* {
 margin: 0;
 padding: 0;
 background-color: #1D75DE;
 font-family: 'Inter', sans-serif;
}

/******** HEADER **********/

.header {
 height: 30%;
 width: 100%;
 padding-top: 150px;
}

.header h1 {
 color: #fff;
 font-weight: 600;
}

.header img {
 padding-bottom: 50px;
}

hr {
 border: 0;
 clear:both;
 display:block;
 width: 75%;               
 background-color: #fff;
 height: 1px;
}

#main-container {
 width: 100%;
}

/******** HEADER **********/

#enter-course {
  width: 100%;
  padding-top: 50px;
  padding-left: 200px;
  background-color: #1D75DE;
}

#enter-course h2 {
 padding-bottom: 20px;
}

#courseEntriesContainer {
 width: 50%;
 padding-bottom: 100px;
}

#courseEntries {
 width: 50%;
 border-radius: 10px;
 overflow: hidden;
}

#clearCourses {
 display: none;
}


/******** ENTERCOURSE **********/


/******** GENERATE **********/

#generate {
  height: 40%;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #1D75DE;
}

#generateCourses {
 margin-top: 25px;
 margin-bottom: 50px;
}

#eligbleCoursesTableContainer {
 width: 80%;
}

#eligbleCoursesTable {
 border-radius: 10px;
 overflow: hidden;
 width: 100%;
}


#filterButton {
 margin-bottom: 10px;
}

/******** GENERATE **********/

@media (max-width: 700px) {
    #courseInput {
        width: 30%;
    }

    .steps {
      font-size: 20px;
    }
}
